*:focus {
  outline: none; }

.section-intro {
  background-image: url("/static/images/343.jpg");
  min-height: calc(100vh - 60px);
  padding: 30px;
  color: #fff;
  background-size: auto 170%;
  background-position: -220px -50px; }

.section-contact {
  background-image: url("/static/images/space.jpg");
  background-size: cover;
  background-position: center center;
  min-height: calc(100vh - 60px);
  padding: 30px;
  color: #fff; }

.section-about {
  background-image: url("/static/images/totem.jpg");
  background-size: cover;
  background-position: center center;
  min-height: calc(100vh - 60px);
  padding: 30px;
  color: #fff; }
  .section-about div {
    padding: 10px;
    max-width: 512px;
    font-family: 'Comfortaa', cursive;
    background-color: rgba(0, 0, 0, 0.3); }
    .section-about div a {
      text-decoration: none;
      cursor: pointer;
      padding: 10px;
      font-size: 20px;
      width: 100px;
      background-color: #E91E63;
      color: #ffffff;
      border: 3px solid #E91E63;
      font-family: 'Comfortaa', cursive;
      transition: 0.5s; }
      .section-about div a:hover {
        background-color: #fff;
        transition: 0.5s;
        color: #E91E63; }

.circle-nav-container {
  margin-left: 10vw; }

.circle-nav {
  display: flex;
  flex-direction: row; }
  .circle-nav svg {
    margin: 5px;
    cursor: pointer; }
    .circle-nav svg circle, .circle-nav svg line, .circle-nav svg text {
      transition: 0.5s; }
    .circle-nav svg text {
      font-size: 20px; }
    .circle-nav svg:hover .circle-highlight {
      stroke: #673ab7; }
    .circle-nav svg:hover circle {
      stroke-width: 40;
      stroke: #8bc34a; }
    .circle-nav svg:hover text {
      font-size: 30px; }
  .circle-nav .circle-line {
    stroke: white;
    stroke-width: 2; }
  .circle-nav .circle-text {
    font-family: 'Comfortaa', cursive; }

.resp-nav-container {
  display: none; }

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact-form .large-btn-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
    .contact-form .large-btn-flex .large-btn {
      font-size: 100px;
      padding: 20px;
      margin: 20px;
      width: 200px;
      background-color: #E91E63;
      text-align: center;
      transition: 0.5s;
      cursor: pointer; }
      .contact-form .large-btn-flex .large-btn:hover {
        background-color: #ffffff;
        color: #e91e63;
        transition: 0.5s; }
  .contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px; }
    .contact-form form span {
      font-family: 'Comfortaa', cursive; }
    .contact-form form div {
      width: 100%;
      margin: 20px; }
    .contact-form form button {
      padding: 10px;
      font-size: 20px;
      width: 100px;
      background-color: #E91E63;
      color: #ffffff;
      border: 3px solid #E91E63;
      font-family: 'Comfortaa', cursive;
      transition: 0.5s; }
      .contact-form form button:hover {
        background-color: #fff;
        transition: 0.5s;
        color: #E91E63; }
    .contact-form form input, .contact-form form textarea {
      padding: 10px;
      font-size: 20px;
      width: calc(100% - 26px);
      margin: 20px;
      border: 3px solid #ddd;
      font-family: 'Comfortaa', cursive; }
      .contact-form form input:focus, .contact-form form textarea:focus {
        border-bottom: 3px solid #E91E63; }

@media only screen and (max-width: 600px) {
  .contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse; }
    .contact-form .large-btn-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%; }
      .contact-form .large-btn-flex .large-btn {
        font-size: 30px;
        padding: 20px;
        margin: 20px;
        width: auto;
        background-color: #E91E63;
        text-align: center;
        transition: 0.5s;
        cursor: pointer; }
        .contact-form .large-btn-flex .large-btn:hover {
          background-color: #ffffff;
          color: #e91e63;
          transition: 0.5s; }
  .circle-nav-container {
    display: none; }
  .section-intro {
    background-size: cover;
    background-position: center center; }
    .section-intro .name-span {
      font-size: 15vw;
      text-align: center;
      width: calc(100vw - 60px);
      background-color: rgba(0, 0, 0, 0.7); }
  .section-about {
    margin-bottom: 50px; }
    .section-about div {
      background-color: rgba(0, 0, 0, 0.7); }
  .resp-nav-container {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh; }
  .resp-nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
    .resp-nav-flex span {
      width: 30%;
      text-align: center;
      padding: 10px;
      margin: 10px;
      font-family: 'Comfortaa', cursive; } }

.side-nav {
  position: fixed;
  right: 0;
  height: calc(100vh - 40vh);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 20vh;
  padding-bottom: 20vh; }
  .side-nav div {
    transition: 0.5s;
    padding: 30px; }
    .side-nav div:hover {
      transition: 0.5s; }
      .side-nav div:hover i {
        font-size: 70px; }
    .side-nav div a {
      color: #ffffff;
      text-decoration: none; }
  .side-nav i {
    transition: 0.5s;
    font-size: 40px; }

@media only screen and (max-width: 600px) {
  .side-nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    background-color: #111; }
    .side-nav div {
      padding: 10px; }
      .side-nav div:hover i {
        font-size: 30px; }
    .side-nav i {
      font-size: 30px; } }

.name-span {
  font-family: 'Major Mono Display', monospace;
  font-size: 80px;
  cursor: pointer; }

@media only screen and (max-width: 600px) {
  .name-span {
    font-size: 15vw;
    text-align: center;
    width: calc(100vw - 60px); } }

.footer-span {
  color: #fff;
  font-family: 'Comfortaa', cursive;
  margin-left: 50px;
  margin-bottom: 25px;
  position: fixed;
  bottom: 0; }

@media only screen and (max-width: 600px) {
  .footer-span {
    display: none; } }


/*# sourceMappingURL=styles.chunk.css.map*/